<!DOCTYPE html>
<html>
   <head>
 <meta charset="utf-8">
<meta name="Keywords" content="Self-Education, The True Believer, Eric Hoffe, Books to Read, Life Hacks">
<meta name="Description" content="This website contains informations about Eric Hoffer and his book titled The True Beliver, New Podcast, and pick of the week video. As well as recent posts, most viewed articles and ip project winners.">
 <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>LIFE HACKS</title>
   </head>
   
   <body>
      <table  width="80%"  align="center"> 
	     
         <tr>
		
		    <td>
		       <img src="../../../resources/images/logo_gold.png" alt="LOGO" width="40" height="50">
			 </td>
	         <td width="900" align="right"> 
		        <a href="#"  alt="Podcasts" >Podcasts</a>
	            <a href="#"  alt="Articles" >Articles</a>
	            <a href="#"  alt="Ideas" >Ideas</a>
	            <a href="Signin.html"  alt="Signin" >Signin</a>
	            <a href="Register.html"  alt="Register" >Register</a>
				
	          </td> 
			  
        </tr>  
      </table>
	   
	   
	   <table width="80%"  cellspacing="2" align="center">
	   <hr>
		
		   <tr>
		      
	         <td colspan="2" align="right" ><a href="#">Go TO Bottom</a></td> 
              		 
	       </tr>
	     
    		 <tr>
			  
		       <td><h2>Frame </h2></td>
		        <td><h3>Recent Posts</h3> </td>
				 
		    </tr>
		
	        <tr>
			   
		      <td width>

<iframe src="signin.html" width = "750" height = "300">Sign in</iframe>

<iframe src="register.html" width = "750" height = "300">Register</iframe>

<hr>

</td>
          <td valign="top">
			   <ul>
			       <li>Articles
				     <ul>
				        <li>The Importance of Goals, Especially During Difficult Times </li>
					    <li>5 Steps to Discovering Your Life Purpose In 2022! </li>
				     </ul>
				   </li>
				</ul>
               	<ul>			
			      <li>Ideas
			         <ul>
				        <li>10 Books to Read in The Fall </li>
					    <li>Top Web Development Projects Ideas </li>
				      </ul>
			      </li>
			    </ul>
			  
			  <h3>Most Viewed Articls</h3>
			  <ol  type="I">
			     <li> Instant Gratification Is Stopping You From Reaching Your Goals! li> </li>
				 <li> Stop Juggling Between Work And Life </li>
			  </ol>
			   <h3>IP Project Winners</h3>
			 <pre> 
			      
----------------------
Rank          Award
-----------------------
First        Free hosting and support
Second       5GB Mobile Data 
Third        1GB Mobile Data
-----------------------
			 
			  </pre>
			   </td>
			   
			
		    </tr>
	 
	
	     <tr>
		    
		     
		     <td <b>New Podcast</b> <br>
		         <h2>Jack Ma - How I Overcame Failure</h2><br>
		         <audio src="../../../resources/audio/Jack Ma - How I Overcame Failure.mp3"  controls> Sorry your browser doesn't support this audio </audio></td><br>
				 
		 </tr>
		  
		  <tr>
		     
		     <td><hr><b>Pick of The Week </b><br>
		         <h3>24 Hours A Day</h3>
		         <video src="../../../resources/video/24_HOURS.mp4"   controls width="600">Sorry</video>
             </td>
			 
			 
		  </tr>
		 
		 </table>
		 
		 <table  width="80%"  cellspacing="0" align="center">
		   <hr>
		    <tr>
			   
		        <td >Follow Us On:<a href="https://m.facebook.com/?_rdr"> Facebook </a>|<a href="https://mobile.twitter.com/login/"> Twitter</a></td>
			    <td  align="right"><a href="#"> Privacy</a> | <a href="#">Terms of Use</a></td>
				 
		    </tr>
		     <tr >
			   
			    <td colspan="2" align="center">Copyright © AASTU SEng 2021, All Rights Reserved</td>
				 
			 </tr>
       		
	      </table>
   </body>
</html>




















